[submodule "codeAct"]
	path = codeAct
	url = git@github.com:lseaJK/codeAct.git
[submodule "FinGenius"]
	path = FinGenius
	url = https://github.com/lseaJK/FinGenius.git
[submodule "TradingAgents-CN"]
	path = TradingAgents-CN
	url = git@github.com:lseaJK/TradingAgents-CN.git
	branch = master
