[submodule "codeAct"]
	path = codeAct
	url = git@github.com:lseaJK/codeAct.git
[submodule "FinGenius"]
	path = FinGenius
	url = https://github.com/lseaJK/FinGenius.git
[submodule "TradingAgents-CN"]
	path = TradingAgents-CN
	url = git@github.com:lseaJK/TradingAgents-CN.git
	branch = master
[submodule "MemoryOS_/memoryos"]
	path = MemoryOS_/memoryos
	url = ssh://git@ssh.github.com:443/lseaJK/MemoryOS_.git
[submodule "deepwiki-open"]
	path = deepwiki-open
	url = https://github.com/AsyncFuncAI/deepwiki-open.git
